In [2]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline


def data_fix(x):
    if isinstance(x,str):
        return float(x.replace("$","").replace(",",""))
    else:
        return x
    
num_pipeline = Pipeline([
    ('imputer', Imputer(strategy="median")),
    ('std_scaler', StandardScaler()),
])

In [137]:
degrees = pd.read_csv("./college-salaries/degrees-that-pay-back.csv")

print(degrees.info())

strings = ["Undergraduate Major"]
label = "Undergraduate Major"
test = ["Percent change from Starting to Mid-Career Salary",
        "Mid-Career 10th Percentile Salary","Mid-Career 25th Percentile Salary",
        "Mid-Career 75th Percentile Salary","Mid-Career 90th Percentile Salary"]
x = degrees.drop(strings,axis=1)
#x = degrees[test].copy()
y = degrees[strings].copy()

for attrib in x.columns.values:
    print(attrib)
    x[attrib] = x[attrib].apply(data_fix)

x["1st feature"] = x["Mid-Career Median Salary"]/x["Starting Median Salary"]
x["2nd feature"] = x["Mid-Career 75th Percentile Salary"]/x["Mid-Career 25th Percentile Salary"]
x["3rd feature"] = x["Mid-Career 90th Percentile Salary"]/x["Mid-Career 10th Percentile Salary"]

x = x[["1st feature","2nd feature","3rd feature"]]

print(x.info())

x = num_pipeline.fit_transform(x)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
Undergraduate Major                                  50 non-null object
Starting Median Salary                               50 non-null object
Mid-Career Median Salary                             50 non-null object
Percent change from Starting to Mid-Career Salary    50 non-null float64
Mid-Career 10th Percentile Salary                    50 non-null object
Mid-Career 25th Percentile Salary                    50 non-null object
Mid-Career 75th Percentile Salary                    50 non-null object
Mid-Career 90th Percentile Salary                    50 non-null object
dtypes: float64(1), object(7)
memory usage: 3.2+ KB
None
Starting Median Salary
Mid-Career Median Salary
Percent change from Starting to Mid-Career Salary
Mid-Career 10th Percentile Salary
Mid-Career 25th Percentile Salary
Mid-Career 75th Percentile Salary
Mid-Career 90th Percentile Salary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
1st feature    50 non-null float64
2nd feature    50 non-null float64
3rd feature    50 non-null float64
dtypes: float64(3)
memory usage: 1.2 KB
None

In [90]:
ctype = pd.read_csv("./college-salaries/salaries-by-college-type.csv")

print(ctype.info())

ctype = ctype[ctype["School Type"] != "Liberal Arts"]

strings = ["School Type","School Name"]
label = "School Type"
test = ["Starting Median Salary","Mid-Career 10th Percentile Salary","Mid-Career 75th Percentile Salary"]
x = ctype.drop(strings,axis=1)
#x = ctype[test].copy()
y = ctype[strings].copy()

for attrib in x.columns.values:
    print(attrib)
    x[attrib] = x[attrib].apply(data_fix)

print(x.info())

x = num_pipeline.fit_transform(x)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 8 columns):
School Name                          269 non-null object
School Type                          269 non-null object
Starting Median Salary               269 non-null object
Mid-Career Median Salary             269 non-null object
Mid-Career 10th Percentile Salary    231 non-null object
Mid-Career 25th Percentile Salary    269 non-null object
Mid-Career 75th Percentile Salary    269 non-null object
Mid-Career 90th Percentile Salary    231 non-null object
dtypes: object(8)
memory usage: 16.9+ KB
None
Starting Median Salary
Mid-Career Median Salary
Mid-Career 10th Percentile Salary
Mid-Career 25th Percentile Salary
Mid-Career 75th Percentile Salary
Mid-Career 90th Percentile Salary
<class 'pandas.core.frame.DataFrame'>
Int64Index: 222 entries, 0 to 268
Data columns (total 6 columns):
Starting Median Salary               222 non-null float64
Mid-Career Median Salary             222 non-null float64
Mid-Career 10th Percentile Salary    217 non-null float64
Mid-Career 25th Percentile Salary    222 non-null float64
Mid-Career 75th Percentile Salary    222 non-null float64
Mid-Career 90th Percentile Salary    217 non-null float64
dtypes: float64(6)
memory usage: 12.1 KB
None

In [133]:
region = pd.read_csv("./college-salaries/salaries-by-region.csv")

print(region.info())

strings = ["School Name","Region"]
label = "Region"
test = ["Starting Median Salary","Mid-Career 10th Percentile Salary","Mid-Career 75th Percentile Salary"]
x = region.drop(strings,axis=1)
#x = region[test].copy()
y = region[strings].copy()

for attrib in x.columns.values:
    print(attrib)
    x[attrib] = x[attrib].apply(data_fix)

print(x.info())

x = num_pipeline.fit_transform(x)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 8 columns):
School Name                          320 non-null object
Region                               320 non-null object
Starting Median Salary               320 non-null object
Mid-Career Median Salary             320 non-null object
Mid-Career 10th Percentile Salary    273 non-null object
Mid-Career 25th Percentile Salary    320 non-null object
Mid-Career 75th Percentile Salary    320 non-null object
Mid-Career 90th Percentile Salary    273 non-null object
dtypes: object(8)
memory usage: 20.1+ KB
None
Starting Median Salary
Mid-Career Median Salary
Mid-Career 10th Percentile Salary
Mid-Career 25th Percentile Salary
Mid-Career 75th Percentile Salary
Mid-Career 90th Percentile Salary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 3 columns):
1    320 non-null float64
2    320 non-null float64
3    273 non-null float64
dtypes: float64(3)
memory usage: 7.6 KB
None

In [138]:
k = 4
kmeans = KMeans(n_clusters=k, random_state=42)
y_pred = kmeans.fit_predict(x)

print(kmeans.cluster_centers_)
print(y_pred)

for i in range(0,k):
    print(i)
    for j in range(0,len(y)):
        if y_pred[j] == i:
            print("  "+y[label][j])

[[-2.29718067 -1.6916149  -1.62281296]
 [-0.46155256  0.50541698  0.50487867]
 [ 1.20157349  1.08246673  1.00692905]
 [-0.00749994 -0.84218041 -0.80488255]]
[1 3 1 1 3 2 1 1 3 3 3 2 3 3 3 1 1 2 1 3 1 2 2 3 1 3 3 3 2 1 3 3 3 2 2 3 2
 2 3 1 0 0 2 0 3 2 1 1 1 1]
0
  Nursing
  Nutrition
  Physician Assistant
1
  Accounting
  Agriculture
  Anthropology
  Biology
  Business Management
  Criminal Justice
  Drama
  Education
  English
  Geography
  Hospitality & Tourism
  Music
  Psychology
  Religion
  Sociology
  Spanish
2
  Art History
  Communications
  Economics
  Film
  Finance
  History
  International Relations
  Journalism
  Marketing
  Math
  Philosophy
  Political Science
3
  Aerospace Engineering
  Architecture
  Chemical Engineering
  Chemistry
  Civil Engineering
  Computer Engineering
  Computer Science
  Construction
  Electrical Engineering
  Forestry
  Geology
  Graphic Design
  Health Care Administration
  Industrial Engineering
  Information Technology (IT)
  Interior Design
  Management Information Systems (MIS)
  Mechanical Engineering
  Physics